html {
    background-color: white;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif !important;
}

h1 {
    color: red;
}

.col {
    text-align: center;
}

.largepadding {
    margin: 0px !important;

}

.container-fluid {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(6, 17, 32, 0.188);
    font-size: 18px;
    padding: 0px 20px;
}

.container {
    margin-top: 0px !important;
}

.draw {
    height: auto;
    width: 200px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-bottom: 0px;
    display: flex !important;
    justify-content: center !important;
}

.text-btn {
    margin-left: 5px;
}

.text-btn p {
    margin: 0px;
}

.icon {
    font-size: 30px;
}

.text-one {
    font-size: 13px;
    color: grey;
}

.text-two {
    font-size: 15px;
}

.d-flex-custom {
    display: flex !important;

}


.navbar-collapse.collapse {
    display: flex !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    justify-content: center;
}

.banner {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.zone {
    margin: -13px;

}

.para {
    font-size: 18px;
    text-align: justify;
}

.red {
    color: red;
}

.text {
    color: black;
}

.image.one {
    height: unset;
}

.ensure.zone {
    margin: 50px 0;
}

.btn {
    background-color: red;
    color: aliceblue;
    border-color: red;
}

.code {
    background-color: rgb(194, 180, 180);
    padding: 10px;
}

.img-responsive {
    border: 1px solid black;
    border-color: black;
    border-radius: 20px;
    height: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    font-family: 'fontAwesome';

}

.owl-carousel .owl-nav .owl-prev {

    content: "\f053";
    margin-right: 10px;
}

.owl-carousel .owl-nav .owl-next {

    content: "\f054";
    margin-right: 10px;
    height: 15px;
    width: 15px;
    color: white;
}

.owl-nav .owl-prev i {
    background-color: white;
    padding: 20px;
    border-radius: 80px;
}

.owl-nav .owl-next i {
    background-color: white;
    padding: 20px;
    border-radius: 80px;
}

.img {
    height: 200px;
    width: 20px;
    border: 2px solid rgb(153, 130, 130);
    border-radius: 30px;


}

.image-six {
    height: 200px;
    border: 3px solid rgb(17, 16, 16);
    padding: 20px;
    border-color: grey;
    border-radius: 900px;
}

.h4 {
    display: flex;

}

.box {
    border-radius: 1px;
    border-color: wheat;
}

.counter-section i {
    display: block;
    margin: 0 0 1px
}

.counter-section span.counter {
    font-size: 40px;
    color: red;
    line-height: 60px;
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    text-align: left;
}

.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

.counter-icon {
    top: 2px;
    position: relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 5px;
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.owl-carousel .owl-item img {
    border-radius: 600px;
}

.counter-subheadline span {
    float: right;
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
}

.container {
    margin-top: 200px;
}

.roman {
    padding: 50px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: red;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    width: 100%;
}

.tablinks-one {
    display: none;
}

.padding {
    padding: 30px 0px 0px 0px;
}

#sync2 {
    margin-top: 20px;
}

#sync2 .owl-item {
    width: 10px !important;
    height: 10px;
    background: #7d81a3;
    border-radius: 50%;
    margin: 0 6px;
}

#sync2 .owl-item.synced {
    background: #1c277a;
}

#sync2 .owl-wrapper {
    width: auto !important;
    display: inline-block !important;
}

.owl-controls {
    display: none !important;
}

.owl-controls.material-controls {
    display: block !important;
}

.owlwrapper {
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin: 75px auto;
    width: 703px;
}

div.owl-next,
div.owl-prev {
    visibility: hidden;
}

.owl-item img {
    width: 78%;
    border-radius: 30px;
    /*box-shadow: 0px 1px 10px black; */
}

.owl-prev,
.owl-next {
    position: absolute !important;
}

button {
    z-index: 99999999999 !important;
    color: grey !important;
}

.slide-text {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slide-text h2 {
    color: white;
    font-size: 22px;
    margin: 0 0 5px 0;
}

.slide-text p {
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 50px 0;
}


.nav {
    background-color: #606799;
}

.owl-prev {
    top: 42%;
    left: -70px;
}

.owl-next {
    top: 42%;
    right: -70px;
}

i {
    color: #1c277a !important;
}

@media (min-width: 870px) {
    .owl-item img {
        width: auto;
    }
}

@media (max-width: 869px) {
    .owl-prev {
        left: -19px;
    }

    .owl-next {
        right: -19px;
    }
}

@media (max-width: 809px) {
    .owlwrapper {
        width: 100%;
    }
}

@media (max-width: 809px) {
    .slide-text h2 {
        font-size: 17px;
    }

    .slide-text p {
        font-size: 13px;
        margin: 0 0 15px 0;
    }
}